# Python practice problems with for loops, dict, input

In [1]:
# Review Python "input" # this should help with assignments below

In [7]:
Olympic_year = input("Which year will be next summer Olympics? ")

Which year will be next summer Olympics? 2020

In [8]:
print(type(Olympic_year)) # it is string

<class 'str'>

In [9]:
print(type(int(Olympic_year))) # it is integer

<class 'int'>

1) Write a for loop to print "Hello" 10 times.

In [10]:
# Write code here ...
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

2) Write a for loop to print even numbers in the range 1 .. 20

In [11]:
# Write code here ...
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
"""
3) Define a list of animals to be as follows:
animals = ["lion","tiger","elephant","giraffe","zebra"]

Now print animal names using for loop. The output should be as follows:
1 lion
2 tiger
3 elephant
4 giraffe
5 zebra
"""

In [12]:
# Write code here ...
animals = ["lion","tiger","elephant","giraffe","zebra"]
for animal in animals:
    print(animal)

lion
tiger
elephant
giraffe
zebra

In [ ]:
"""
4) Visiting moon every year for next 10 years
The weight on moon can be estimated to be 18%  of weight on earth.
Write a program which will ask the user to enter current earth weight.
Then calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.

Use for loop to print weight on moon each year when you visit.
"""

In [48]:
# Write code here ...
weight_current = input("current earth weight ")
for year in range(10):
    year += 1
    weight_current = int(weight_current)
    moon_weight = (weight_current + 2*year) * 0.18
    print("Year {} moon weight is {:.2f}".format(year, moon_weight))

current earth weight 100
Year 1 moon weight is 18.36
Year 2 moon weight is 18.72
Year 3 moon weight is 19.08
Year 4 moon weight is 19.44
Year 5 moon weight is 19.80
Year 6 moon weight is 20.16
Year 7 moon weight is 20.52
Year 8 moon weight is 20.88
Year 9 moon weight is 21.24
Year 10 moon weight is 21.60

5) Write a for loop to find the sum of all numbers from 1 to 100; 1 + 2 + ... + 99 + 100

In [55]:
# Write code here ...
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

6) Write a for loop which will ask the user to input 4 numbers. The program should calculate sum of 4 numbers and print the sum.

In [63]:
# Write code here ...
sum = 0
for i in range(1,5):
    n = int(input("number {} is ".format(i)))
    sum += n
print("The sum of your 4 input numbers is {}".format(sum))

number 1 is 1
number 2 is 2
number 3 is 3
number 4 is 4
The sum of your 4 input numbers is 10

7) Write a Python for loop to find product of even number from 1 to 50;
2 x 4 x 6 x 8 x ... x 42 x 44 x 46 x 50

In [69]:
# Write code here ...
product = 1
for n in range(2,51,2):
    product *= n
print(product)

520469842636666622693081088000000

8a) Find the index of minimum and maximum number in MyList.

In [30]:
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]

In [31]:
# Write code here ...
MIN = min(myList)
MAX = max(myList)
# print(MIN, MAX)
index_minmum = myList.index(MIN)
index_maxmum = myList.index(MAX)
print("the index of minimum number in MyList is", index_minmum)
print("the index of maximum number in MyList is", index_maxmum)

the index of minimum number in MyList is 106
the index of maximum number in MyList is 169

8b) In myList, find top-5 highest frequency numbers. List the numbers and number of occurences.

In [38]:
# write code here ...
import collections
counter = collections.Counter(myList)

print(counter)
print()
for i in counter.most_common(5):
    print(i)

Counter({17: 7, 77: 6, 84: 5, 75: 5, 58: 5, 49: 5, 7: 4, 44: 4, 21: 4, 56: 4, 98: 4, 71: 4, 66: 4, 60: 4, 50: 4, 94: 3, 59: 3, 38: 3, 57: 3, 54: 3, 74: 3, 25: 3, 92: 3, 14: 3, 97: 3, 13: 3, 95: 3, 69: 3, 96: 3, 9: 3, 4: 3, 86: 3, 16: 3, 46: 2, 43: 2, 76: 2, 81: 2, 88: 2, 62: 2, 19: 2, 83: 2, 82: 2, 2: 2, 8: 2, 18: 2, 30: 2, 11: 2, 45: 2, 78: 2, 42: 2, 36: 2, 48: 2, 47: 2, 37: 2, 51: 2, 28: 2, 63: 2, 1: 2, 91: 2, 72: 2, 70: 1, 80: 1, 29: 1, 22: 1, 73: 1, 79: 1, 34: 1, 90: 1, 6: 1, 23: 1, 15: 1, 10: 1, 89: 1, 53: 1, 35: 1, 99: 1, 64: 1, 55: 1, 40: 1, 93: 1, 39: 1, 61: 1, 31: 1, 52: 1})

(17, 7)
(77, 6)
(84, 5)
(75, 5)
(58, 5)

9) Write a Python program to convert temperature from Centigrade to Fahrenheit
and Fahrenheit to Centigrade. At the start, the program should ask which way we are converting.

Then ask the user to input the temperature. Your program should do the conversion
and print the results.

(C x 9/5) + 32 = F

In [17]:
# Write code here 
convert = input("Input 1 for C>F; or 2 for F>C ")
print(convert)
if convert=="1":
    c = input("Centigrade temperatre ")
    f = float(c)*9/5 + 32
    print("Fahrenheit temperatre {:.1f}".format(f))
else:
    f = input("Fahrenheit temperatre ")
    c = (float(f) - 32) * 5/9
    print("Centigrade temperatre {:.1f}".format(c))

Input 1 for C>F; or 2 for F>C 2
2
Fahrenheit temperatre 38.9
Centigrade temperatre 3.8

In [ ]:
"""
10) Print the times table:
1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=4 4x2=8 4x3=12 4x4=16 4x5=20

5x1=5 5x2=10 5x3=15 5x4=20 5x5=25

Use for loop nested with for loop to print the above multiplication table
"""

In [28]:
# write code here 
for i in range(1,6):
    for j in range(1,6):
        print("{}x{}={}".format(i, j, i*j), end=' ')
    print()

1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=4 4x2=8 4x3=12 4x4=16 4x5=20
5x1=5 5x2=10 5x3=15 5x4=20 5x5=25