# Header1 
## Header 2 -- Python for Data Science
### Header 3 -- FUHSD Adult School

In [5]:
print("Hello, Python!")

Hello, Python!

### --- Exercise 1
### Print the following string "Learning Python for Data Science"

In [8]:
# Exercise 1 - write code in this cell and click on Run
print("Learning Python for Data Science")

Learning Python for Data Science

In [3]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print(counter)
print(miles)
print(name)

a = b = c = 1
print(a)
print(b)
print(c)
aa,bb = 22,33
print(aa)
print(bb)

100
1000.0
John
1
1
1
22
33

### --- Exrecise 2
### Create variables with your first_name and last_name
### print first_name and last_name

In [4]:
# Exercise 2 - Python code
first_name = "Vincent"
last_name = "Shu"
print(first_name)
print(last_name)

Vincent
Shu

In [ ]:
# Exercise 2b -- write code in this cell and click on Run
# Initialise following variables:
class_name = "Python for Data Sceince Class"
which_day = "Saturdays"
Num_days = "eight"
Class_timings = "9 am to noon"
# You want to print the following:
# "Python for Data Science class is on eight Saturdays 9 am to noon"
print()

In [12]:
str = 'Hello World!'

a = str
b = str[0]
c = str[-1:20]
d = str[2:]
e = str * 2
f = str + " " + "TEST"
g = str[-1]
h = str[-3:]
print(a)          # Prints complete string
print(b)       # Prints first character of the string
print(c)     # Prints characters starting from 3rd to 5th
print(d)      # Prints string starting from 3rd character
print(e)      # Prints string two times
print(f) # Prints concatenated string
print(g)
print(h)

Hello World!
H
!
llo World!
Hello World!Hello World!
Hello World! TEST
!
ld!

### --- Exercise 3 
### print first two characters of first_name and last two characters of last_name

In [ ]:
# Exercise 3 - write code in this cell 
# You want to extract first letter from first_name, middle_name, and last_name

In [ ]:
"""
Block comment
"""

In [ ]:
###########################################################
## Python Lists
###########################################################
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 3rd 
print(list[-3:])

## Exercise 4 -- Lists
## Define a new Python list "new_list" and initialize it with "1","A","2","B","3","C"
## Print values with alternate indices 0,2,4 and 1,3,5

In [ ]:
## Write code for Exercise 4 in this cell

In [13]:
###########################################################
## Python Tuples
###########################################################
tuple = ('abcd', 786 , 2.23, 'john', 70.2 )
tuple = ("abcde", 786 , 2.23, 'john', 70.2 )
print(tuple)          # Prints complete list
print(tuple[0])       # Prints first element of the list
print(tuple[1:3])     # Prints elements starting from 2nd till 3rd 
var1 = "jshjah"
var1 = "aaaaa"
print(var1)

('abcde', 786, 2.23, 'john', 70.2)
abcde
(786, 2.23)
aaaaa

In [ ]:
## Decisions in Python
var = 15000000
if var == 2000:
   print("1 - Got a true expression value")
   print(var)
elif var == 150:
   print("2 - Got a true expression value")
   print(var)
elif var == 100:
   print("3 - Got a true expression value")
   print(var)
elif var == "Sunnyvale":
    print("var is Sunnyvale")
else:
   print("4 - Got a false expression value")
   print(var)

### --- Exercise 5 - if .. elif .. else
### Initialize string state_name to be "California" or "Texas"
### write if ... elif ... else checking state_name 
### if state_name is California, print "Golden State"
### if state_name is Texas, print "Lone Star State"
### default else to printing "Not Golden State or Lone Star State"

In [ ]:
# Write code for Exercise 5 in this box

In [14]:
## For and while Loops
## while loop
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1

## for loop
for letter in 'Python':     # First Example
   print('Current Letter :', letter)

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print('Current fruit :', fruit)


cars = ["honda","toyota","tesla"]
cars.reverse()
print(cars)

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current fruit : banana
Current fruit : apple
Current fruit : mango
['tesla', 'toyota', 'honda']

### --- Exercise 6 -- print fruits in reverse order, one line per fruit
### mango
### apple
### banana

In [ ]:
# Write code for Exercise 6 in this cell

In [ ]:
## Functions in Python
def add_numbers(a=5,b=10):
    c = a + b
    return c
    
print(add_numbers())
print(add_numbers(1,2))
print(add_numbers(1))

### --- Exercise 7 -- functions -- 
### write function to find square(a) + square(b), given a and b
### def square_and_sum(a,b)
### when a = 2 and b = 3, the function should return 13
###
### write function to add strings 
### def add_strings(str1,str2)
### when str1 = "Hello" and str2 = "World", 
### it should return "Hello World!!!" with space and !!!.

In [ ]:
# Write code for Exercise 7 in this cell

In [ ]:
for x in range(10): 
    print(x)

In [ ]:
# range also follows the format range(start_value,stop_value,step_value)
for x in range(1,6,2):
    print(x)

### --- Exercise 8 -- using range
### print numbers 10, 9, 8, ..., 1

In [ ]:
# Write code for Exercise 8 in this cell

In [15]:
## Appending and extending Python lists
list1 = [1,11,111]
list2 = [2,22,222]

list3 = [1, 2.5, "tom", "sanjay", "ali"]

list1.append(1111)
print("list1-a = %s" % list1)
print("list1-a =",list1)

list1.extend(list2)
print("list1-b = %s" % list1)

list1.remove(111)
list1.append(999999)
print("list1-c = %s" % list1)

list1.sort()
print("list1-d                = %s" % list1)

list1.sort(reverse=True)
print("list1-e = %s" % list1)

listc = []
list1.extend(list2)
listc = list1
print(listc)

list1-a = [1, 11, 111, 1111]
list1-a = [1, 11, 111, 1111]
list1-b = [1, 11, 111, 1111, 2, 22, 222]
list1-c = [1, 11, 1111, 2, 22, 222, 999999]
list1-d                = [1, 2, 11, 22, 222, 1111, 999999]
list1-e = [999999, 1111, 222, 22, 11, 2, 1]
[999999, 1111, 222, 22, 11, 2, 1, 2, 22, 222]

### --- Exercise 9 -- lists with strings
### Initialize states_list with California, Texas, Arizona
### step 1: Add Florida
### step 2: Remove Texas
### step 3: Sort ascending order, and print the list
### step 4: Sort descending order, and print the list

In [ ]:
# Write code for Exercise 9 in this cell

In [ ]:
## Integer and floating division
def div1(x,y):
    print(x/y)
    
def div2(x,y):
    print(x//y) # integer division

div1(5,2)
div1(5.,2)
div2(5,2)
div2(5.,2.)

In [ ]:
# Printing list length
list1 = ['a', 'b', 'c', 'd', 'e']
print(len(list1))

list2 = [11,22,33,44,55,66,77,88,99,110]
print(list2[1])

print(list2[-2])

In [16]:
state_name = "California"
find_str = state_name.find("a")
print("1--",find_str)

find_str = state_name.find("z")
print("2--",find_str)

count_str = state_name.count("a")
print("3--",count_str)

find_str = state_name.find("nia")
print("4--",find_str)

1-- 1
2-- -1
3-- 2
4-- 7

In [ ]:
mystring = "California"
print(len(mystring))

### --- Exercise 10 -- find, count --- define the string Albert_Einstein
### Albert_Einstein = "Life is like riding a bicycle. To keep your balance 
### you must keep moving."
### Find number of occurences for: you, ing, life (all case sensitive)

In [ ]:
# Write code for Exercise 10 in this cell

In [17]:
# Splitting strings
ss = "Python for Data Science at FUHSD Adult School"

words = ss.split()
print("Words is a list: ",words)

ss1 = " ".join(words)
print("ss1 is a string: ",ss1)

mystring = "this,is,nice"
split_mystring = mystring.split(",")
print(split_mystring)

Words is a list:  ['Python', 'for', 'Data', 'Science', 'at', 'FUHSD', 'Adult', 'School']
ss1 is a string:  Python for Data Science at FUHSD Adult School
['this', 'is', 'nice']

In [ ]:
states_1 = ["Washington","Oregon","California"]
states_2 = ["Texas","Arizona","New Mexico","Nevada"]
states_3 = ["Florida","Georgia","Alabama","Louisiana"]

### --- Exrecise 11 Concatenate lists and print alternate
### 1) create a new list "states_123" which includes states_1,
### states_2, and states_3
### 2) Sort the list in ascending order
### 3) print alternate state names from states_123

In [ ]:
# Your code here ...